
<div class="page">
<div class="container">
  <h1 class="title">{{title}}</h1>

  <div class="input-container">
    <input #newItem name="list" class="text-input" type="text" placeholder="Enter to do list item..." (keyup.enter)="handleAdd(newItem.value); newItem.value = ''"/>
    <button class="button-add" (click)="handleAdd(newItem.value)">Add</button>
  </div>

  <div>
    <h2 class="no-items" *ngIf="!items.length">You have no items on your {{title}}. Add some!</h2>

    <ul class="list" *ngIf="items.length">
      <li *ngFor="let item of items">
        <span [class]="item.completed" (click)="handleComplete(item.id)">{{item.description}}</span>
        <span class="delete" (click)="handleDelete(item.id)">X</span>
      </li>
    </ul>
  </div>

</div>
</div>

